@import "./base.css";
@import "./animations.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/btn.css";
@import "./components/cursor.css";
@import "./components/layout.css";
@import "./components/hero.css";
@import "./pages/home.css";
@import "./pages/about.css";
@import "./pages/works.css";
@import "./pages/insights.css";
@import "./pages/contact.css";
@import "./pages/blog-post.css";